.hero {
    background-image: url('../images/robot.png'); /* Image by Dmitry Abramov from Pixabay */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 90vh;
}

.hero-text {
    display: inline-block;
    margin: 75px 50px;
    color: rgb(50, 50, 50);
}

.hero-text h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-text p {
    width: 200px;
}

@media only screen and (max-width: 1430px) {
    .hero-text {
        background: rgba(0,0,0,0.4);
        border-radius: 1rem;
    }
    .hero-text h1, .hero-text p{
        color: white;
        padding: 0 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .hero-text {
        margin: 0px;
        background: none;
    }
    .hero-text h1, .hero-text p{
        color: rgb(51, 51, 51);
        width: 300px;
    }

    .hero-text h1 {
        font-size: 1.3rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }
}