footer {
    margin-top: 25px;
    background: rgba(205, 29, 29, 0.9);
    color: white;
}

footer h3, p {
    display: flex; 
    justify-content: center;
}

footer h3 {
    padding: 20px 0px 10px 0px;;
}

footer p {
    padding-bottom: 15px;
}